
<nav class="exapmle-nav">
    <h1>example-nav</h1>
    <ul>
        <li><a class="js-anc-smooth-scroll" href="#{{ anc1 }}">{{ menuText1 }}</a></li>
        <li><a class="js-anc-smooth-scroll" href="#{{ anc2 }}">{{ menuText2 }}</a></li>
        <li><a class="js-anc-smooth-scroll" href="#{{ anc3 }}">{{ menuText3 }}</a></li>
        <li><a class="js-anc-smooth-scroll" href="#{{ anc4 }}">{{ menuText4 }}</a></li>
        <li><a class="js-anc-smooth-scroll" href="#{{ anc5 }}">{{ menuText5 }}</a></li>
    </ul>
</nav>
